/*******Style Sheet for HomePage*********************/

body {
    margin: 0;
    background-color: thistle;
    animation-name: colorChange;
    animation-duration: 3s;
}
/* Animation for background color change */

@keyframes colorChange {
    from {background-color: thistle;}
    to {background-color: burlywood;}
}

#header {
    height: 200px;
}

#header h1{
    text-align: center;
    margin: 70px 0 0 0;
    font-family: papyrus;
}

#header h5{
    font-size: 20px;
    text-align: center;
    padding-bottom: 40px;
    color: darkmagenta;
}
/* Any topClass element references the first section with three photos */

#topClass {
    height: 400px;
    margin-top: 3px;
    position: relative;
    margin-bottom: 40px;
}

#topClass > h2{
    text-align: center;
    margin-top: 75px;
    font-family: papyrus;
}
/* three images */

figure {
    margin-top: 30px;
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

figure > img {
    width: 260px;
    height: 150px;
}
/* figcaptions */

#topClass > div {
    display: flex;
    width: 60%;
    text-align: center;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
}

#topClass > div > figcaption {
    width: 20%;
}
/* anchor tags */

#topClass > a {
    margin-top: 60px;
}

.middleClass > a {
    margin-top: 30px;
}
/* Buttons */

.buttons {
    background-color: #4CAF50;
    border-radius: 3%;
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    width: 20%;
    position: absolute;
    left: 37.5%;
}
/* continue reading buttons */

.continueReading {
    background-color: orange;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    position: absolute;
}

/* learn more buttons */

.learnMore {
    background-color: orange;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    position: absolute;
}

#divider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: chartreuse;
}
/* Main section holds first section of column elements */

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 60px;
    margin-left: 20vw;
}
/* Second section of column elements */

#main2 {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-left: 20vw;
    margin-top: -40px;
}

/* middleClass section of main */

.middleClass {
    flex: 1;
    width: 65%;
    margin-right: 5%;
}

section > h6 {
    font-size: 16px;
}

.middleClass > h3 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 40px;
}

.middleClass > h6 {
    font-size: 16px;
    margin-bottom: 10px;
}

/* bottomClass section of main2 */

.bottomClass {
    flex: 1;
    width: 65%;
    margin-right: 5%;
    margin-top: 10px;
    padding-top: 80px;
}

.bottomClass > h3 {
    text-align: left;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.bottomClass > a {
    margin-top: 30px;
}

.bottomClass > img {
    width: 560px;
    height: 320px;
}

/* sideClass for both main and main2 */

.sideClass {
    width: 30%;
    margin-bottom: -10px;
    border-bottom: 1px solid gray;
}

.sideTwo {
    margin-top: 30px;
}

.sideTwo > h6 {
    font-size: 16px;
}

.sideTwo > p {
    padding-bottom: 20px;
}

.sideClassTwo {
    width: 30%;
    margin-top: 60px;
    border-top: 1px solid gray;
    padding-top: 30px;
}

.sideClass > p {
    padding-bottom: 20px;
}

.blogButton {
    background-color: darkblue;
    width: 20px;
    border: 1px solid black;
    padding: 2px 7px;
    border-radius: 6%;
    color: yellow;
}

a:hover {
    background-color: black;
    color: orange;
}

.sideClassTwo > img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}

.sideClassTwo > div{
    margin-bottom: 80px;
}

/* Footer/Form/Icons Section */

#footer {
    width: 100%;
    margin-top: 60px;
    background-color: tan;
}

#footer h2{
    text-align: center;
    padding-top: 40px;
}

#formBox {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 20vw;
}

#form {
    flex: 1;
    height: 250px;
}

.form-one {
    display: flex;
    width: 29vw;
    justify-content: space-between;
    margin-bottom: 10px;
    
}

.form-two {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.form-two textarea {
    width: 28.5vw;
    height: 140px;
}

.form-three {
    display: flex;
    justify-content: flex-start
}

.sendMessage {
    background-color: orange;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    position: absolute;
}

#links {
    display: inline;
    width: 29vw;
    height: 150px;
    margin-top: -15px;
}

#icons {
    display: grid;
    width: 29vw;
    height: 150px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-gap: 1rem;
}

#icons > img {
    width: 25px;
    height: 25px;
}